<div class="container mt-4">
  <!-- Mostrar la pregunta actual -->
  <div class="card p-4 mb-4">
    <div class="card-header">
      <h2 class="card-title">{{ preguntas[preguntaActual].texto }}</h2>
    </div>

    <!-- Mostrar las opciones de respuesta -->
    <ul class="list-group">
      <li *ngFor="let opcion of preguntas[preguntaActual].opciones" class="list-group-item">
        <div class="form-check">
          <input class="form-check-input"
                 type="radio"
                 [name]="'pregunta-' + preguntas[preguntaActual].id"
                 [value]="opcion"
                 (click)="seleccionarOpcion(preguntas[preguntaActual].id, opcion)"
                 [checked]="opcion === preguntas[preguntaActual].respuestaSeleccionada">
          <label class="form-check-label">
            {{ opcion }}
          </label>
        </div>
      </li>
    </ul>
  </div>

  <!-- Botones de navegación -->
  <div class="d-flex justify-content-between mb-4">
    <button class="btn btn-primary" (click)="anteriorPregunta()" [disabled]="preguntaActual === 0">
      Anterior
    </button>
    <button class="btn btn-primary" (click)="siguientePregunta()" [disabled]="preguntaActual === preguntas.length - 1">
      Siguiente
    </button>
  </div>

  <!-- Linkbar para navegar entre preguntas -->
  <div class="d-flex justify-content-center mb-4">
    <div class="btn-group" role="group">
      <button *ngFor="let pregunta of preguntas; let i = index"
              type="button"
              class="btn btn-outline-secondary"
              [class.active]="i === preguntaActual"
              (click)="irAPregunta(i)">
        {{ i + 1 }}
      </button>
    </div>
  </div>

  <!-- Botón para revisar -->
  <div class="text-center">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-primary me-2" (click)="revisar(true)">Revisar</button>
      <button type="button" class="btn btn-primary me-2" (click)="revisar(false)">Finalizar</button>
    </div>
  </div>

  <div class="text-center">
    <div>
      <button (click)="guardar()">guardar</button>
    </div>
  </div>
</div>
