<!-- resultados.component.html -->
<div class="container-fluid h-100 d-flex justify-content-center align-items-center">
  <div class="card mx-auto align-items-center">
    <div class="card-header">
      <h2 class="card-title">Resultados</h2>
    </div>
    <div class="card-body">
      <p>Respuestas Correctas: {{ resultados[0].respuestasCorrectas }}</p>
      <p>Respuestas Incorrectas: {{ resultados[0].respuestasIncorrectas }}</p>
      <p>Respuestas Nulas: {{ resultados[0].respuestasNulas }}</p>
    </div>
    <div class="card-footer">
      <button *ngIf="!modoRevision" class="btn btn-primary" (click)="volverHome()">Home</button>
      <button *ngIf="modoRevision" class="btn btn-primary" (click)="volverPrueba()">Volver</button>
    </div>
  </div>
</div>
